
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using FestivalAPI.Models
@using wpfFestival.ControllersAPI


@Html.Partial("_Navbar")

<link href="~/css/style2.css" rel="stylesheet" />
<link href="~/css/res.css" rel="stylesheet" />

<!--
Sidebar visible seulement par l'organisateur     
-->
<body>

    @if (HttpContextAccessor.HttpContext.Session.GetString("email") != null && HttpContextAccessor.HttpContext.Session.GetString("categorie").Equals("Organisateur"))
    {
        Organisateur organisateur = API.Instance.GetOrganisateur(HttpContextAccessor.HttpContext.Session.GetString("email")).Result;
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p><br /></p>
                    <h5 class="centered">@HttpContextAccessor.HttpContext.Session.GetString("Prenom") @HttpContextAccessor.HttpContext.Session.GetString("Nom")</h5>


                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-music"></i>
                            <span>Festivals</span>
                        </a>
                        <ul class="sub">

                            <li><a asp-area="" asp-controller="MvcFestivals" asp-action="Details" asp-route-id="@organisateur.FestivalID">Mon festival</a></li>
                            <li><a asp-area="" asp-controller="MvcFestivals" asp-action="Index">Liste des festivals</a></li>

                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-music"></i>
                            <span>Hébergements</span>
                        </a>
                        <ul class="sub">

                            <li><a asp-area="" asp-controller="MvcHebergements" asp-action="Index">Liste des hébergements</a></li>


                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-ticket"></i>
                            <span>Tarifs</span>
                        </a>
                        <ul class="sub">

                            <li><a asp-area="" asp-controller="MvcTarifs" asp-action="Index">Les tarifs</a></li>

                        </ul>
                    </li>

                    <li>
                        <a onclick="location.href='@Url.Action("Index", "MvcOrganisateurs")'">
                            <i class="fa fa-group"></i>
                            <span>Les organisateurs </span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-star-o"></i>
                            <span>Les artistes</span>
                        </a>
                        <ul class="sub">

                            <li><a asp-area="" asp-controller="MvcArtistes" asp-action="Index">Liste des artistes</a></li>
                            <li><a asp-area="" asp-controller="MvcArtistes" asp-action="Create">Ajouter un artiste</a></li>

                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>


        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

            </section>
        </section>

    }

    <!--
        
    @@Renderbody() permet de rendre visible les Views des controlleurs
    -->
    @RenderBody()

    @Html.Partial("_Footer")




</body>
