@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using FestivalAPI.Models
@using wpfFestival.ControllersAPI
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Festival</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/style2.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/style-responsive.css" rel="stylesheet" />

</head>

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Festival</a>

        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <form class="form-inline" action="#">

            <!---Lorsqu'on se connecte en tant qu'Organisateur, on a les boutons deco & mon festival qui apparaissent--->

            @if (HttpContextAccessor.HttpContext.Session.GetString("email") != null && HttpContextAccessor.HttpContext.Session.GetString("categorie").Equals("Organisateur"))
            {
                Organisateur organisateur = API.Instance.GetOrganisateur(HttpContextAccessor.HttpContext.Session.GetString("email")).Result;
                // <button type="button" onclick="location.href='@Url.Action("Index", "MvcFestivals")'" class="btn btn-outline-danger mr-2">Mes festivals</button>
                //<a class="collapse-item" asp-controller="MvcFestivals" asp-action="Details" asp-route-id=@organisateur.FestivalID>Mon Festival</a>
                <button type="button" onclick="location.href='@Url.Action("Details", "MvcFestivals", new { id = organisateur.FestivalID})'" class="btn btn-outline-danger">Mon Festival</button>
                <button type="button" onclick="location.href='@Url.Action("Deconnection", "Login")'" class="btn btn-outline-danger">Se deconnecter</button>
            }

            <!--- Lorsqu'on se connecte en tant que Festivalier, les boutons Accueil et Déconnexion apparaissent -->

            @if (HttpContextAccessor.HttpContext.Session.GetString("email") != null && HttpContextAccessor.HttpContext.Session.GetString("categorie").Equals("Festivalier"))
            {
                Festivalier Festivalier = API.Instance.GetFestivalier(HttpContextAccessor.HttpContext.Session.GetString("email")).Result;
                // <button type="button" onclick="location.href='@Url.Action("Index", "MvcFestivals")'" class="btn btn-outline-danger mr-2">Mes festivals</button>
                //<a class="collapse-item" asp-controller="MvcFestivals" asp-action="Details" asp-route-id=@organisateur.FestivalID>Mon Festival</a>
                <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-outline-danger">Accueil</button>
                <button type="button" onclick="location.href='@Url.Action("Deconnection", "Login")'" class="btn btn-outline-danger">Se deconnecter</button>
            }
            <!--- En tant que visiteur, on a les boutons se connecter et inscription qui apparaissent -->
            @if (HttpContextAccessor.HttpContext.Session.GetString("email") == null)
            {
                <button type="button" onclick="location.href='@Url.Action("Index", "Login")'" class="btn btn-outline-danger mr-2">Se connecter</button>
                <button type="button" id="triggerinscription" class="btn btn-outline-danger"  onclick="location.href='@Url.Action("Create", "MvcFestivaliers")'">S'inscrire</button>
            }










        </form>

    </div>
</nav>


