@model FestivalAPI.Models.Tarif
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}

<p><br /></p>
<p><br /></p>
<p><br /></p>
<h1>Modifier ce tarif</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomTarif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomTarif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixTarif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixTarif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Festival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Festival.Nom_Festival)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TarifID">Modifier ce tarif</a> |
    <a asp-action="Index">Retour à la liste.</a>
</div>
