@model IEnumerable<FestivalAPI.Models.Tarif>

@{
    ViewData["Title"] = "Index";
}
<p><br /></p>
<p><br /></p>
<p><br /></p>
<h1>Liste des tarifs</h1>

<p>
    <a asp-action="Create">Créer un tarif</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantiteTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Festival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomTarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixTarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionTarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiteTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Festival.Nom_Festival)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarifID">Modifier ce tarif</a> |
                <a asp-action="Details" asp-route-id="@item.TarifID">En savoir plus.</a> |
                <a asp-action="Delete" asp-route-id="@item.TarifID">Supprimer un tarif</a>
            </td>
        </tr>
        }
    </tbody>
    
</table>
