@model IEnumerable<FestivalAPI.Models.Tarif>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Festival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomTarif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixTarif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Festival.Nom_Festival)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TarifID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TarifID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TarifID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</table>
