@model IEnumerable<FestivalAPI.Models.Hebergement>

@{
    ViewData["Title"] = "Index";
}
<p><br /></p>
<p><br /></p>
<p><br /></p>
<h1>Liste des hébergements</h1>

<p>
    <a asp-action="Create">Créer un hébergement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Type d'hébergement</th>
            <th>Lien de l'hébergement</th>
            <th>Nom du festival</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string selectedRow = "";
            if (item.HebergementID == (int?)ViewData["HebergementID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @Html.DisplayFor(modelItem => item.TypeHebergement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LienHebergement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Festival.Nom_Festival)
                </td>
                
                
                <td>
                    <a asp-action="Index" asp-route-id="@item.FestivalID">Afficher</a> |
                    <a asp-action="Edit" asp-route-id="@item.FestivalID">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.FestivalID">Afficher les détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.FestivalID">Supprimer ce festival</a>
                </td>
            </tr>
        }
    </tbody>
</table>
