@model FestivalAPI.Models.Artiste

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimé</h1>

<h5>Etes vous sur de vouloir supprimer ?</h5>
<div>
    <h4>Artiste</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptif_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptif_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pays_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraitMusical_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraitMusical_Artiste)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArtisteID" />
        <input type="submit" value="Supprimé" class="btn btn-danger" /> |
        <a asp-action="Index">Revenir à la liste</a>
    </form>
</div>
