@model FestivalAPI.Models.Artiste

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artiste</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptif_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptif_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pays_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraitMusical_Artiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraitMusical_Artiste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scene.SceneID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArtisteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
