@model IEnumerable<FestivalAPI.Models.Artiste>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom_Artiste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style_Artiste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptif_Artiste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pays_Artiste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraitMusical_Artiste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scene)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Artiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style_Artiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptif_Artiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays_Artiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraitMusical_Artiste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scene.Nom_Scene)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtisteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtisteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtisteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
