
@model IEnumerable<FestivalAPI.Models.Artiste>

<h4 class="text-center text-uppercase">Liste des artistes</h4>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i>Cliquez ici pour ajouter un artiste</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nom_Artiste)</th>
            <th>@Html.DisplayNameFor(model => model.Style_Artiste)</th>
            <th>@Html.DisplayNameFor(model => model.Descriptif_Artiste)</th>
            <th>@Html.DisplayNameFor(model => model.Pays_Artiste)</th>
            <th>@Html.DisplayNameFor(model => model.SceneID)</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var artiste in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@artiste.UrlImage"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @artiste.Nom_Artiste
                </td>
                <td>@artiste.Style_Artiste</td>
                <td>@artiste.Descriptif_Artiste</td>
                <td>@artiste.Pays_Artiste</td>
                <td>@artiste.SceneID</td>
                <td><a asp-action="Delete" asp-route-id="@artiste.ArtisteID">Supprimer l'artiste</a></td>
               
            </tr>

        }
    </tbody>
</table>

 