@model FestivalAPI.Models.Scene

@{
    ViewData["Title"] = "Details";
}
<p><br /></p>
<p><br /></p>
<p><br /></p>
<h1>En savoir plus sur cette scène</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_Scene)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom_Scene)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessibilite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessibilite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Festival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Festival.Nom_Festival)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SceneID">Modifier</a> |
    <a asp-action="Index">Retour à la liste.</a>
</div>
